<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <% if settings.production? %>
  <title>NEMp3</title>
  <% else %>
  <title>TEMp3</title>
  <% end %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" href="/main.css">
</head>
<body>
  <div class="container-fluid header">
    <div class="row">
      <div class="col-lg-12">
        <a href="/">
          <h1 class="title text-center">NEMp3</h1>
        </a>
      </div>
    </div>
    <% if settings.development? %>
      <div class="row pt-0">
        <div class="col-lg-12 temp3 text-center">
          <div class="tee">T</div>
          <div class="slash">/</div>
          <div class="testnet">TESTNET</div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="container">
    <section>
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <%= yield %>
        </div>
      </div>
    </section>
    <footer>
      <p class="text-center">
        An experiment by <a href="http://ochremusic.com">Chris</a>.
      </p>
      <p class="text-center">
        <small>
          <% if settings.production? %>
            <a href="https://nemp3-testnet.herokuapp.com/">Testnet version </a>
          <% else %>
            <a href="https://nemp3.herokuapp.com/">Mainnet version </a>
          <% end %>
          &bull; <a href="https://github.com/csleary/nemp3">GitHub</a>
        </small>
      </p>
    </footer>
  </div>
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <script src="/script.js"></script>
</body>
</html>
