<p>
  Checking to see if your transaction made it to the blockchain&hellip;
</p>
<p class="alert alert-info" role="alert">
  Connected to node: <span class="node-name"><%= @node_name %></span>
</p>
<p>
  Looking for your personalised purchase ID:
</p>
<p class="id-hash">
  <%= @id_hash %>
</p>
