<h2>Download</h2>
<%= erb :node_name %>
<p class="alert alert-danger" role="alert">
  Error! We could not find any transactions made using that email address. Are you sure the payment has been confirmed? Feel free to refresh this page once it has gone through.
</p>
<p>
  You can either hit the back button to see the payment info again, or <a href="/">start over</a>.
</p>
