<div class="row">
  <div class="col-lg-8 offset-lg-2">
    <h2>Payment</h2>
    <p>
      Great. Please send your XEM payment to the address encoded in the QR code below (it defaults to 30 XEM).
    </p>
    <div class="qr-code">
      <%= @qr %>
    </div>
    <p>
      Alternatively, you can manually send your payment to this address:
    </p>
    <p>
      <textarea class="payment-address" onclick="this.select()" readonly="readonly" rows="2">TCQFU2-U2UR27-EYLADA-6FNE6K-Y7ONFM-7YH7ZY-REBS</textarea>
    </p>
    <p>
      You <strong>must</strong> include the hash below in the message field when making payment, as it's essentially your purchase ID, linked to your email address, and stored in the blockchain as part of your transaction. This will be used to confirm that your purchase has successfully been made. It will take a minute for your payment to be confirmed by nodes on the network.
    </p>
    <p>
      <textarea class="payment-message" onclick="this.select()" readonly="readonly" rows="2"><%= @hash %></textarea>
    </p>
    <p>
      All done? If your payment has been confirmed, please continue.
    </p>
    <form class="" action="/download" method="post">
      <input type="hidden" name="hash" value="<%= @hash %>">
      <button type="submit" class="btn btn-outline-primary btn-lg btn-block">Next Step: Download</button>
    </form>
  </div>
</div>
