@import url('https://fonts.googleapis.com/css?family=Righteous');

body {
  background-color: #fafafa;
}

footer {
  min-height: 5rem;
}

.title {
  color: #666;
  font-family: 'Righteous', sans-serif;
  font-size: 6rem;
  text-shadow: 4px 4px 0 #41ce7c, 8px 8px 0 #5ab3e8;
}

h2, h3 {
  margin-bottom: 1rem;
}

a, a:hover, a:active, a:visited, a:focus {
  color: #5ab3e8;
  font-weight: bold;
  text-decoration: none;
}

.form-control {
  border-radius: .3rem;
}

.btn {
  border-width: 2px;
  margin-top: 1rem;
}

.btn-outline-primary {
  color: #5ab3e8;
  background-color: #fff;
  border-color: #5ab3e8;
}

.btn-outline-primary:hover {
  color: #fff;
  cursor: pointer;
  background-color: #5ab3e8;
  border-color: #5ab3e8;
}

.btn-outline-success {
  color: #41ce7c;
  background-color: #fff;
  border-color: #41ce7c;
}

.btn-outline-success:hover {
  color: #fff;
  cursor: pointer;
  background-color: #41ce7c;
  border-color: #41ce7c;
}

.container,
.row,
footer {
  padding-top: 1rem;
}

.payment-address,
.payment-message {
  background: #efefef;
  border: 2px solid #999;
  border-radius: .3rem;
  font-size: 1rem;
  font-weight: bold;
  overflow: hidden;
  padding: .5rem 0;
  text-align: center;
  width: 100%;
  -webkit-appearance: none;
}

.qr-code {
  margin: 2rem auto;
  max-width: 276px;
}

.email-form {
  margin: 2rem 0;
}

.email {
  border-width: 2px;
  font-size: 2rem;
  padding: .75rem 1.5rem;
  text-align: center;
}

.node-name {
  font-weight: bold;
}

.id-hash,
.tx-list {
  overflow: auto;
  white-space: nowrap;
}

@media (min-width: 768px) {
  .payment-address,
  .payment-message {
    height: 2.8rem;
  }
}
