@import url('https://fonts.googleapis.com/css?family=Righteous|Permanent+Marker');

body {
  background-color: #fafafa;
}

footer {
  margin: 2rem 0;
}

.header {
  background-color: #eee;
  padding-bottom: 2rem;
}

.title {
  color: #666;
  font-family: 'Righteous', sans-serif;
  font-size: 6rem;
  text-shadow: 4px 4px 0 #41ce7c, 8px 8px 0 #5ab3e8;
}

.temp3 {
  font-family: 'Permanent Marker', sans-serif;
  font-size: 6rem;
  color: #222;
  position: absolute;
}

.tee {
  display: inline;
  position: relative;
  left: -3.8rem;
  top: -8.5rem;
}

.slash {
  display: none;
  position: relative;
}

.testnet {
  display: inline;
  font-size: 1.5rem;
  position: relative;
  left: -4rem;
  top: -6.4rem;
}

h2, h3, h4 {
  margin-bottom: 1rem;
}

ol {
  margin-bottom: 2rem;
}

a, a:hover, a:active, a:visited, a:focus {
  color: #5ab3e8;
  font-weight: bold;
  text-decoration: none;
}

.form-control {
  border-radius: .3rem;
}

.btn {
  border-width: 2px;
  margin-top: 1rem;
}

.btn-outline-primary {
  color: #5ab3e8;
  background-color: #fff;
  border-color: #5ab3e8;
}

.btn-outline-primary:hover {
  color: #fff;
  cursor: pointer;
  background-color: #5ab3e8;
  border-color: #5ab3e8;
}

.btn-outline-success {
  color: #41ce7c;
  background-color: #fff;
  border-color: #41ce7c;
}

.btn-outline-success:hover {
  color: #fff;
  cursor: pointer;
  background-color: #41ce7c;
  border-color: #41ce7c;
}

.row,
footer {
  padding-top: 2rem;
}

.payment-address,
.payment-message {
  background: #efefef;
  border: 2px solid #999;
  border-radius: 0;
  font-size: 1rem;
  font-weight: bold;
  overflow: hidden;
  padding: .5rem 0;
  resize: none;
  text-align: center;
  width: 100%;
  -webkit-appearance: none;
}

.payment-message {
  height: 2.8rem;
}

.qr-code {
  margin: 2rem auto;
  max-width: 276px;
}

.email-form {
  margin: 2rem 0;
}

.email {
  border-color: #ccc;
  border-width: 2px;
  font-size: 2rem;
  padding: .75rem 1.5rem;
  text-align: center;
}

.node-name {
  font-weight: bold;
}

.id-hash {
  font-weight: bold;
  text-align: center;
}

.id-hash,
.tx-list {
  overflow: auto;
  white-space: nowrap;
}

.album-title {
  font-size: 1.5rem;
  margin: 2rem 0;
}

.cover-art {
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: .3rem;
  margin-bottom: 2rem;
  padding: 2rem;
}

.pleaseWait {
  cursor: progress !important;
}

.release-meta {
  font-weight: bold;
}

@media (min-width: 576px) {
  .tee {
    left: -4rem;
    top: -9.8rem;
  }

  .slash {
    display: inline;
    left: -6.4rem;
    top: -8.5rem;
  }

  .testnet {
    left: 2.7rem;
    top: -6.5rem;
  }

  .cover-art {
    max-height: 24rem;
    object-fit: cover;
    object-position: center;
    width: 100%;
  }

  .payment-address,
  .payment-message {
    height: 2.8rem;
  }
}
